<nameforge-home *ngIf="currentPage === 'home'"></nameforge-home>
<nameforge-about *ngIf="currentPage === 'about'"></nameforge-about>
<nameforge-contact *ngIf="currentPage === 'contact'"></nameforge-contact>
<nameforge-domains *ngIf="currentPage === 'domains'"></nameforge-domains>
<nav>
    <ul>
        <li><a href="/" *ngIf="currentPage !== 'home'" (click)="navToPage('home')">Home</a></li>
        <li><a href="/#about" *ngIf="currentPage !== 'about'" (click)="navToPage('about')">About us</a></li>
        <li><a href="/#domains" *ngIf="currentPage !== 'domains'" (click)="navToPage('domains')">Browse domain names</a></li>
        <li><a href="/#contact" *ngIf="currentPage !== 'contact'" (click)="navToPage('contact')">Contact us</a></li>
    </ul>
</nav>
