<!-- Main container -->
<div fxLayout="row" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="start start" class="expansion-container">
    <!-- Expansion Panel 1 -->
    <mat-expansion-panel fxFlex="45%" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>FranklyMyDear.com</mat-panel-title>
      </mat-expansion-panel-header>
      <img src="" alt="Logo for">
      <p>A12342142423</p>
    </mat-expansion-panel>
  
    <!-- Expansion Panel 2 -->
    <mat-expansion-panel fxFlex="45%" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>FMD-IDO.com</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Content of Panel 2</p>
    </mat-expansion-panel>

  </div>
  