p {
    font-size: 20px;
    word-spacing: 0.3rem;
    color: #fff;
    vertical-align: auto;
}

h1 {
    color: #fff; 
    vertical-align: auto;
}

.left-panel, .right-panel {
    margin: 5em;
  }

.logo {
    max-width: 600px;
    max-height: 600px;
    vertical-align: auto;
    margin: auto;
}