<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50%" class="left-panel">
        <img class="logo" src="../../assets/nameForgeLogoNoBg.png" alt="Logo for NameForge: A gray, shining cartoon anvil with red flames behind it, and text below it that says 'Name' in large, gray-white capital letters, and 'Forge' in smaller red capital letters.">
    </div>
    <div class="intro right-panel abstract" fxFlex="50%">
        <p>Welcome to NAME FORGE, the future-forward domain marketplace where creativity meets data-driven foresight.</p>
        <p>At NAME FORGE, we don’t just follow trends – we anticipate them, creating a bridge to the future of digital branding.</p>
        <p>Our mission? To provide you with domain names that aren’t just memorable, but are also infused with emerging stories, moving you miles ahead in the digital landscape.</p>
    </div>
</div>